.ManagePageApp {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    /*background-color: #0c2136;*/
}

.ManagePageApp-content {
    height: 100%;
    /*display: flex;*/
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    backgroundColor: '#0c2136',
    /*backgroundColor: '#0c2136',*/
    /*padding: 40px;*/
}

.ManagePageApp-body {
    height: 100%;
    width: 100%;
    /*display: flex;*/
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
    background-color: #FFF;
    /*border-radius: 50px 50px 50px 50px;*/
    padding: 20px;
    /*margin-left: 300px;*/
    /*margin-left: 300px;*/
}

@media (min-width: 650px ) {
    .App {
        /*background-position: center center;*/
    }

    .ManagePageApp-content {
        align-items: center;
        justify-content: center;
        width: 100%;
    }
}
